.container2{
    background-image: url("../images/cork-wallet.png");
    background-repeat: repeat;
}


.container1{
    background-color: #ffffff;
    border-color: #cccccc;
}

.logo{
    background-color: #4aaaaf;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#ffffff;
    float: left;
    margin-left: 125px;
    height:75px;
    width: 450px;
    font-weight: bold;
    vertical-align: middle;
}

.nav{
    float:right;
    
}

.content{
    border-color: #dddddd;
    background-color: #4aaa5;
    font-family: Arial, helvetica, Helvetica Neue, sans-serif;
    width:960px;
    margin: 0px;
}
